extends ../layout/index
block contenido
	main.container.mt-5
		.row
			.col-md-5
				img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
			.col-md-7
				h1 #{pagina}
				blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat quis assumenda quibusdam quasi odio ullam impedit! Deserunt, iusto expedita aliquid nemo similique a, numquam optio velit, aliquam necessitatibus sapiente.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio illo magni maiores, delectus culpa officiis quo molestiae quae quaerat voluptatibus saepe vero et, natus iste dolore quis porro adipisci. Sapiente?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus natus quasi amet possimus, veritatis culpa eum eveniet. Natus exercitationem numquam quisquam iure dignissimos, recusandae officiis maiores laborum modi similique eos.
	.listado-iconos
		.container.mt-5.py-5.text-center
			.row
				.col-md-4
					img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
					h2.mb-4 Seguridad
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt rem rerum, quod hic fugit quae obcaecati neque recusandae, perferendis tempore aspernatur alias, saepe voluptate! Possimus sint impedit nam modi eum?
				.col-md-4
					img(src="img/icono_destinos.svg", class="img-fluid mb-4")
					h2.mb-4 Mejores destinos
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt rem rerum, quod hic fugit quae obcaecati neque recusandae, perferendis tempore aspernatur alias, saepe voluptate! Possimus sint impedit nam modi eum?
				.col-md-4
					img(src="img/icono_precios.svg", class="img-fluid mb-4")
					h2.mb-4 Mejores precios
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt rem rerum, quod hic fugit quae obcaecati neque recusandae, perferendis tempore aspernatur alias, saepe voluptate! Possimus sint impedit nam modi eum?	